.dice-roller-main {
    background-color: #ffe6b3;
    display: inline-block;
    height: 666px;
    margin-left: 40px;
    padding: 30px 5% 5% 5%;
}

.dice-to-roll {
    border: 1px solid black;
    width: 98.5%;
    height: auto;
    padding: 10px;
}

.chosen-dice {
    border: 1px solid black;
    margin-top: 25px;
    height: 95px;
    width: 98.5%;
    padding: 10px;
}

.chosen-dice .chosen {
    display: inline-flex;
}

.unchosen-dice {
    display: none;
}

.dice {
    width: 85px;
    height: 85px;
    background-size: contain;
    background-repeat: no-repeat;
}

.green-ability-to-roll {
    background-image: url("/assets/images/dice/greenability.png");
}

.unselected-dice {
    filter: opacity(60%);
}

.all-green-dice {
    display: inline-flex;
    padding-right: 50px;
}

.green-background {
    background-image: url("/assets/images/dice/abilitybg.png");
    height: 57px;
    width: 71px;
    padding-top: 33px;
    padding-left: 24px;
}

.green-background.double-symbol {
    padding-top: 23px;
    padding-left: 32px;
    height: 67px;
    width: 63px;
}

.green-background .success.single-symbol {
    height: 50px;
    width: 50px;
}

.green-background .success.double-symbol {
    height: 32px;
    width: 32px;
}

.green-background .advantage.single-symbol {
    height: 50px;
    width: 50px;
}

.green-background .advantage.double-symbol {
    height: 30px;
    width: 30px;
    margin-left: 2px;
}

.yellow-proficiency-to-roll {
    background-image: url("/assets/images/dice/yellowproficiency.png");
}

.all-yellow-dice {
    display: inline-flex;
    padding-right: 50px;
}

.yellow-background {
    background-image: url("/assets/images/dice/proficiencybg.png");
    height: 75px;
    width: 79px;
    padding-top: 20px;
    padding-left: 16px;
}

.yellow-background .success.single-symbol {
    height: 64px;
    width: 64px;
}

.yellow-background .success.double-symbol {
    height: 32px;
    width: 32px;
    margin-left: 15.5px;
}

.yellow-background .advantage.single-symbol {
    height: 64px;
    width: 64px;
}

.yellow-background .advantage.double-symbol {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.yellow-background .triumph.single-symbol {
    height: 64px;
    width: 64px;
}

.blue-boost-to-roll {
    background-image: url("/assets/images/dice/blueboost.png");
}

.all-blue-dice {
    display: inline-flex;
}

.blue-background {
    background-image: url("/assets/images/dice/boostbg.png");
    height: 79px;
    width: 80px;
    padding-top: 16px;
    padding-left: 15px;
}

.blue-background .success.single-symbol {
    height: 64px;
    width: 64px;
}

.blue-background .success.double-symbol {
    height: 32px;
    width: 32px;
    margin-left: 15px;
}

.blue-background .advantage.single-symbol {
    height: 64px;
    width: 64px;
}

.blue-background .advantage.double-symbol {
    height: 34px;
    width: 34px;
    margin-left: 14px;
}

.red-challenge-to-roll {
    background-image: url("/assets/images/dice/redchallenge.png");
}

.all-red-dice {
    display: inline-flex;
    padding-right: 50px;
}

.red-background {
    background-image: url("/assets/images/dice/challengebg.png");
    height: 78px;
    width: 79px;
    padding-top: 17px;
    padding-left: 16px;
}

.red-background .failure.single-symbol {
     height: 64px;
     width: 64px;
 }

 .red-background .failure.double-symbol {
     height: 32px;
     width: 32px;
     margin-left: 15px;
 }

 .red-background .threat.single-symbol {
     height: 64px;
     width: 64px;
 }

 .red-background .threat.double-symbol {
     height: 33px;
     width: 33px;
     margin-left: 14.5px;
 }

 .red-background .despair {
     height: 64px;
     width: 64px;
 }

.purple-difficulty-to-roll {
    background-image: url("/assets/images/dice/purpledifficulty.png");
}

.all-purple-dice {
    display: inline-flex;
    padding-right: 50px;
}

.purple-background {
    background-image: url("/assets/images/dice/difficultybg.png");
    height: 76px;
    width: 81px;
    padding-top: 15px;
    padding-left: 15px;
}

.purple-background .failure.single-symbol {
    height: 64px;
    width: 64px;
}

.purple-background .failure.double-symbol {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.purple-background .threat.single-symbol {
    height: 50px;
    width: 50px;
    margin-left: 7px;
}

.purple-background .threat.double-symbol {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.black-setback-to-roll {
    background-image: url("/assets/images/dice/blacksetback.png");
}

.all-black-dice {
    display: inline-flex;
}

.black-background {
    background-image: url("/assets/images/dice/setbackbg.png");
    height: 71px;
    width: 79.5px;
    padding-top: 20px;
    padding-left: 15.5px;
}

.black-background .failure.single-symbol {
    height: 64px;
    width: 64px;
}

.black-background .failure.double-symbol {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.black-background .threat.single-symbol {
    height: 64px;
    width: 64px
}

.black-background .threat.double-symbol {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.success {
    background-image: url("/assets/images/dice/success.png");
    background-size: contain;
}

.failure {
    background-image: url("/assets/images/dice/failure.png");
    background-size: contain;
}

.failure.outcome {
    background-color: black;
}

.advantage {
    background-image: url("/assets/images/dice/advantage.png");
    background-size: contain;
}

.threat {
    background-image: url("/assets/images/dice/threat.png");
    background-size: contain;
}

.threat.outcome {
    background-color: black;
}

.triumph {
    background-image: url("/assets/images/dice/triumph.png");
    background-size: contain
}

.triumph.outcome {
    background-color: #FFE800;
}

.despair {
    background-image: url("/assets/images/dice/despair.png");
    background-size: contain;
}

.despair.outcome {
    background-color: #E31837;
}

.outcome {
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.outcome-symbols {
    display: inline-flex;
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    flex-wrap: wrap;
}

.outcome-and-button {
    display: inline-flex;
    margin-top: 25px;
    width: 100%;
}

.roll-button {
    margin-left: 10px;
    width: 15%;
    display: inline-flex;
}

.actual-roll-button {
    width: 100%;
    height: 86px;
    margin-left: 50px;
}