body {
    background-color: #005566;
}

h1, h2 {
    font-family: 'Calligraffitti', cursive;
    color: #ffd199;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
    text-align: center
}


#002a32