@import models.character._
@import views.html.partials.charactersheet._

@this(main: MainTemplate, infoPartial: InfoPartial, statisticsPartial: StatisticsPartial, thresholdsPartial: ThresholdsPartial)

@(characterSheet: CharacterSheet)(implicit request: AuthenticatedUserRequest[AnyContent])

@main("Character Sheet", Seq("characterSheet")){
  <h1>Character Sheet - @characterSheet.info.name</h1>
  <div class="character-sheet">
    @infoPartial(characterSheet)
    @statisticsPartial(characterSheet)
    @thresholdsPartial(characterSheet)
  </div>
}