@this(main: MainTemplate)

@(username: String, chatNames: List[String])(implicit request: Request[_])

@main("TEMP - CHAT") {

  @for(i <- 1 to 100) {
    <p>
      @{"hello"*i}
    </p>
  }

  <section id="chats">
    @for(chatName <- chatNames){
      <div class="closed-chat-container">
        <button class="open-button" onclick=toggleForm("@{chatName+"-chat"}")>@chatName</button>

        <div id=@{chatName+"-chat"} class="chat-popup">
          <div id=@{chatName+"-messages"} class="messages">
          </div>
          <input id=@{chatName+"-input"} placeholder="Type message.." required>
        </div>
      </div>
    }
  </section>

  <script id="chat" src=@routes.Assets.versioned("javascripts/chat.js").url
          type="text/javascript"
          chat-url=@controllers.routes.ChatController.chatSocket.webSocketURL()
          username=@username></script>

}
